@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

html,
body {
    @apply bg-night overflow-x-hidden;
}

select {
    -webkit-appearance: none;
    appearance: none;
}
